.card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  overflow: hidden;
}
section {
  margin-top: 55px;
}
.page {
  border:1px solid rgb(0, 0, 255);
  padding:10px; 
  margin-top: 90px; 
}
.card img {
  height: 150px;
  width: 100%;
}
.card-footer {
  padding: 10px 10px;
}
.card-footer a{
  font-size: 10px;
  text-align: center;
}
.content {
  list-style: none;
}
.content a {
  color: black;
}
.side-nav {
  background-color: rgb(247, 243, 243);
}
.follow_us {
  border: 1px solid black;
}
.follow_us img {
  width: 40%;
}
.add-img {
  width: 100%; height: auto;
}